<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/show">Show parameters</a>
      <a href="/add">Add parameters</a>
      <div class="search-container">
        <form action="/bydate">
          <!-- <label for="archive">Archive: </label> -->
          <input type="date" id="archive" name="date">
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <h1>Error</h1>
    Error encountered: {{error}}
  </body>
</html>
